#$DebugFile /var/log/rsyslog-debug.log
#$DebugLevel 2
 
module(load = "omkafka")
 
# Given a message of a certain type, put it on a Kafka topic.  This could use any
# of the typical conditionals.  For example, $hostname == "logger.internal"
if ( $msg contains "kafka-test:" ) then
    action(
        type      = "omkafka"
        broker    = ["kafka-broker1.{{ env }}.internal:9094", "kafka-broker2.{{ env }}.internal:9094"]
        confParam = ["security.protocol=ssl", "debug=all"]
        topic     = "platform.test.v1"
    )
    stop
}