---
- hosts: "{{ env | default('dev')}}-syslog"
  become: yes
  vars:
    iac_home: "{{ lookup('env', 'IAC_HOME') }}"
  tasks:
  - name: Wait for port 22 to become open 
    wait_for_connection:
  - name: Copy rsyslog-client.conf to /etc/rsyslog.conf
    copy:
      src: '{{ iac_home }}/ansible/syslog/conf/rsyslog/rsyslog-server.conf'
      dest: /etc/rsyslog.conf
      owner: root
      group: root
      mode: '0644'
  - name: Restart syslog service
    service:
      name: rsyslog
      state: restarted
  - name: Add configuration to logrotate to rotate syslog client logs
    lineinfile:
      path: /etc/logrotate.d/syslog
      regexp: '^/var/log/loghost'
      line: '/var/log/loghost/*/*.log'
      insertbefore: BOF
      state: present